[Unit]
Description=Email Service
After=network.target

[Service]
User=root
WorkingDirectory=/root/email-service
ExecStart=/usr/bin/node /root/email-service/app.js
Restart=always
Environment=NODE_ENV=production
Environment=PORT=8080

[Install]
WantedBy=multi-user.target